/* Includes padding in box sizing */
* {
    box-sizing: border-box;
  }
  /* Responsive body and html containers */
  body, html{
    height: 100vh;
    background-image: url("https://i.pinimg.com/originals/78/99/86/7899868e862cdfced007e7669518b11d.jpg");
    background-image: cover;
    
  }

.container{
    background-color: rgb(223, 217, 217);
    height: 95vh;
    width: 90vw;
    margin: auto;
    margin-top:  2.5vh;
    
 
}

.hdr{
font-family: 'Fredoka One', cursive;
letter-spacing: 5px;
text-align: center;
color:black;
margin-bottom: 2%;
}

.btn{
    
    display: block;
    background-color: lightgreen;
    color: black;
    margin: auto;
    margin-bottom: 2%;
    
    
}

.main{
    text-align: center;
    color: black;
    margin: 2% 0 2% 0;
    background-color: white;
    font-weight: 900;
    
}

.nameList{
    padding: 0 0 0 0;
    list-style-position: inside;
    text-align: center;
    font-style: italic;
    font-weight: 900;
    margin-bottom: 2%;;
}
.nameEntered{
    margin-bottom: 0.5%;
}

#timer{
    height: auto;
    width: 20%;
    margin: auto;
    background-color: black;
    font-weight: bolder;
    text-align: center;
    color: lightgreen;
}

#score{

    align-self: center;
    text-align: center;
    background-color: black;
    font-weight: bolder;
    color: lightgreen;
    margin-top: 2%;;

}

#initials{
    display: block;
    width: 20%;
    margin: auto;
    margin-top: 0.5%;
    margin-bottom: 2%;
}
#pre-initials{
    margin-top: 4%;   
    text-align: center;
    font-weight: bold; 
}

/* XL */ 
@media screen and (min-width: 1140px){
    .hdr{
        font-size: 50px;
    }

    .container{
        font-size: 28px;
        
    }

    .btn{
        font-size: 28px;
    }
    .main{
        font-size: 34px;
        
    }
    .nameList{
        font-size: 34px;
            
    }

    #initials{
        font-size: 28px;

    }
    #pre-initials{
        font-size: 28px;
        
    }
       
  } 

/* Large */ 
@media screen and (max-width: 1140px){
    .hdr{
        font-size: 50px;
    }

    .container{
        font-size: 28px;
        
    }

    .btn{
        font-size: 28px;
    }
    .main{
        font-size: 34px;
        
    }
    .nameList{
        font-size: 34px;
            
    }

    #initials{
        font-size: 28px;

    }
    #pre-initials{
        font-size: 28px;
        
    }
       
  } 
  /* Medium*/
  @media screen and (max-width: 960px){
    .hdr{
        font-size: 42px;
    }

    .container{
        font-size: 20px;
    }

    .btn{
        font-size: 20px;
        margin-top: 3%;
        margin-bottom: 3%;
    }
    .main{
        font-size: 26px;
        
    }
    .nameList{
        font-size: 26px;
            
    }

    #initials{
        font-size: 20px;

    }
    #pre-initials{
        font-size: 20px;
        
    }  
    
   
    
  }
  
/* sm */
@media screen and (max-width: 720px){
    .hdr{
        font-size: 36px;
    }

    .container{
        font-size: 16px;
    }

    .btn{
        font-size: 16px;
        margin-top: 4%;
        margin-bottom: 4%;
    }
    .main{
        font-size: 22px;
        
    }
    .nameList{
        font-size: 22px;
            
    }

    #initials{
        font-size: 16px;

    }
    #pre-initials{
        font-size: 16px;
        
    } 
    
    
}

  /* xs */
  @media screen and (max-width: 540px){
    .hdr{
        font-size: 28px;
    }

    .container{
        font-size: 12px;
    }

    .btn{
        font-size: 12px;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .main{
        font-size: 18px;
        
        
    }
    .nameList{
        font-size: 18px;
            
    }

    #initials{
        font-size: 12px;

    }
    #pre-initials{
        font-size: 12px;
        
    }
    
    
  }